
<style>
	.item-image {
		height: 200px;
		background-color: black;
	}
	.item-box {
		height: 100%;
	}
	.item-name-link {
		font-weight: bold;
	}
	.item-price {
		font-weight: bold;
	}
</style>


<div class="container">
	<div class='row'>
		<div class='col-sm-3 pad20-top pad20-bottom'>
		  <div class='card item-box'>
		    <div class="item-image">image</div>
		    <p class='pad10-left pad10-top'>how long ago</p>
		    <hr>
		    <a class='pad10-left pad10-top item-name-link'>item name</a>
		    <p class='pad10-left pad10-top'>item description</p>
		    <div class="row pad15-top">
		    	<div class="col-sm-8">
		    		<p class='pad10-left item-price'>item price</p>
		    	</div>
		    	<div class="col-sm-4">
		    		heart
		    	</div>
		    </div>
		  </div>
		</div>
		<div class='col-sm-3 pad20-top pad20-bottom'>
		  <div class='card item-box'>
		    <div class="item-image">image</div>
		    <p class='pad10-left pad10-top'>how long ago</p>
		    <hr>
		    <a class='pad10-left pad10-top item-name-link'>item name</a>
		    <p class='pad10-left pad10-top'>item description</p>
		    <div class="row pad15-top">
		    	<div class="col-sm-8">
		    		<p class='pad10-left item-price'>item price</p>
		    	</div>
		    	<div class="col-sm-4">
		    		heart
		    	</div>
		    </div>
		  </div>
		</div>
		<div class='col-sm-3 pad20-top pad20-bottom'>
		  <div class='card item-box'>
		    <div class="item-image">image</div>
		    <p class='pad10-left pad10-top'>how long ago</p>
		    <hr>
		    <a class='pad10-left pad10-top item-name-link'>item name</a>
		    <p class='pad10-left pad10-top'>item description</p>
		    <div class="row pad15-top">
		    	<div class="col-sm-8">
		    		<p class='pad10-left item-price'>item price</p>
		    	</div>
		    	<div class="col-sm-4">
		    		heart
		    	</div>
		    </div>
		  </div>
		</div>
		<div class='col-sm-3 pad20-top pad20-bottom'>
		  <div class='card item-box'>
		    <div class="item-image">image</div>
		    <p class='pad10-left pad10-top'>how long ago</p>
		    <hr>
		    <a class='pad10-left pad10-top item-name-link'>item name</a>
		    <p class='pad10-left pad10-top'>item description</p>
		    <div class="row pad15-top">
		    	<div class="col-sm-8">
		    		<p class='pad10-left item-price'>item price</p>
		    	</div>
		    	<div class="col-sm-4">
		    		heart
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<hr>










